<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
  <div class="container">
  	<div class="row">
  		<h3>About.</h3>
  	</div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->


<!-- *****************************************************************************************************************
 AGENCY ABOUT
 ***************************************************************************************************************** -->
<div class="container mtb">
 	<div class="row">
 		<div class="col-lg-6">
 			<img class="img-responsive" src="/img/agency.jpg" alt="">
 		</div>

 		<div class="col-lg-6">
	 		<h4>More About Our Club.</h4>
      <p>IBIS which also stands for Illini Badminton Intercollegiate Sports Club has a long standing history in the University of Illinois, Urbana-Champaign. It was founded more than a decade ago by mostly enthusiasts university members who shared the passion for our beloved game, badminton.</p>
      <p>The club is considered recreational yet competitive and it is available to University of Illinois campus community. Tryouts are held during the year, usually at the beginning of each semester. Tryouts dates will be announced in our websites or you can simply visit us on Quad Day for the Fall tryout date.
         We seek to spark a friendly competition among our members so they can get better with the help of one another. Club members often join various competitions in the nation but mostly those in Midwest area. Once a year we may also participate in intercollegiate tournament if it is possible.</p>
      <p>Members have come from various backgrounds and nationalities including USA, Hong Kong, Taiwan, Indonesia, Malaysia, Singapore, Philippines, China, Korea, Germany, Russia, Sweden, England and many others. Come and join our club for unforgettable thrills and experiences during your stay in the University of Illinois :)</p>
 		</div>
 	</div>
</div>

<!-- *****************************************************************************************************************
 TEEAM MEMBERS
 ***************************************************************************************************************** -->
<div class="container mtb">
 	<div class="row centered">
	 	<h3 class="mb">MEET OUR TEAM</h3>

	 	<div class="col-lg-4 col-md-4 col-sm-4 padding-side-5">
			<div class="he-wrap tpl6">
  			<img src="http://placehold.it/500x500" alt="">
			</div>
			<h4>Austin Hua</h4>
			<h5 class="ctitle">President</h5>
			<p>The God Himself.</p>
			<div class="hline"></div>
	 	</div>

	 	<div class="col-lg-4 col-md-4 col-sm-4 padding-side-5">
			<div class="he-wrap tpl6">
  			<img src="http://placehold.it/500x500" alt="">
			</div><!-- he wrap -->
			<h4>Nicole Mosier</h4>
			<h5 class="ctitle">Vice President</h5>
			<p>Monkey</p>
			<div class="hline"></div>
	 	</div>

	 	<div class="col-lg-4 col-md-4 col-sm-4 padding-side-5">
			<div class="he-wrap tpl6">
        <img src="http://placehold.it/500x500" alt="">
			</div><!-- he wrap -->
			<h4>Alison Ma</h4>
			<h5 class="ctitle">Treasurer</h5>
			<p>Monkey</p>
			<div class="hline"></div>
	 	</div>
 	</div>

  <div class = "row centered">
    <h3 class="mb"></h3>
    <div class="col-lg--2 col-md-2 col-sm-2"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 padding-side-5">
			<div class="he-wrap tpl6">
			 <img src="http://placehold.it/500x500" alt="">
			</div><!-- he wrap -->
			<h4>James Lee</h4>
			<h5 class="ctitle">Webmaster/ Photographer</h5>
			<p>Monkey</p>
			<div class="hline"></div>
	 	</div>
    <div class="col-lg-4 col-md-4 col-sm-4 padding-side-5">
      <div class="he-wrap tpl6">
        <img src="http://placehold.it/500x500" alt="">
      </div><!-- he wrap -->
      <h4>Andrew Krauklis</h4>
      <h5 class="ctitle">Event and Safety Coordinator</h5>
      <p>Monkey</p>
      <div class="hline"></div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2"></div>
  </div>
</div>