
<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img class= "img-responsive" src="img/banner1.png" alt="...">
      <div class="carousel-caption">
      	<h3>2015 Fall UIUC Badminton Open</h3>
      </div>
    </div>
    <div class="item">
      <img class= "img-responsive" src="img/banner2.png" alt="...">
      <div class="carousel-caption">
      	<h3>2015 Fall UIUC Badminton Open</h3>
      </div>
    </div>
    <div class="item">
      <img class= "img-responsive" src="img/banner3.png" alt="...">
      <div class="carousel-caption">
      	<h3>Team Dinner</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" data-target="#carousel"  role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" data-target="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

<!-- *****************************************************************************************************************
HEADERWRAP
***************************************************************************************************************** -->
<div id="headerwrap">
  <div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Illini Badminton Intercollegiate Sports Club (IBIS)</h1>
      <h3>Badminton Club at Universtiy of Illinois - Urbana Champaign</h3>
    </div>
  </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /headerwrap -->
<!-- *****************************************************************************************************************
MIDDLE CONTENT
***************************************************************************************************************** -->

<div class="container mtb">
<div class="row">
  <div class="col-lg-6 col-lg-offset-1">
    <h4>Latest Annoucement</h4>
    <div class="hline"></div>
    <p><a href="/announcement#post1">Practice time for Spring 2016 semester.</a></p>
  </div>


  <div class="col-lg-4">
    <h4>2016 Fall UIUC Badminton is coming soon</h4>
    <div class="hline"></div>
    <div class = "row">
      <div class="col-sm-4">
        <h4>Format:</h4>
      </div>
      <div class="col-sm-8">
      <p>MS/MD/WS/WD/XD<br />
         ABCD drop flight<br />
         Rally Scoring<br />
         Each match will be best of 3</p>
      </div>
    </div>

    <div class = "row">
      <div class="col-sm-4">
        <h4>Capacity:</h4>
      </div>
      <div class="col-sm-8">
      <p>32 entries for MS/MD/XD<br />
         16 entries for WS/WD</p>
      </div>
    </div>

    <a href="/tournament" class="btn btn-theme">More Info</a>
  </div>

</div>
</div>

<!-- *****************************************************************************************************************
SERVICE LOGOS
*****************************************************************************************************************
<div id="service">
<div class="container">
  <div class="row centered">
    <div class="col-md-4">
      <i class="fa fa-heart-o"></i>
      <h4>Handsomely Crafted</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-flask"></i>
      <h4>Retina Ready</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-trophy"></i>
      <h4>Quality Theme</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
    </div>
  </div>
</div>
</div>
-->