<div id="blue">
  <div class="container">
  	<div class="row">
  		<h3>Edit your registration </h3>
  	</div>
  </div>
</div>

<div class="loader" ng-show="loading"></div>

<div class="container mt mb" ng-hide="loadUser.success">
  <div class="row">
    <div class="container mb" >
      <div class="col-lg-10 col-lg-offset-1 centered">
        <h3>Payment</h3>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div class="col-sm-4">
          <b>Paypal</b></br>
          illini.badminton@gmail.com </br>
          Please send it as friend instead of business
        </div>
        <div class="col-sm-4">
          <b>Venmo: </b></br>
          illinibadminton@gmail.com
        </div>
        <div class="col-sm-4">
          <b>QuickPay: </b></br>
          illinibadminton@gmail.com
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 centered">
      <h3>Check your entry here</h3>
        <form ng-submit="getInfo(email)">
          <div class="col-md-6 col-md-offset-3 centered">
            <div class="alert alert-danger" role="alert" ng-show="loadUser.success == false">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              {{loadUser.message}}
            </div>
            <div class="input-group">
              <input type="email" name="email" placeholder="email" class="form-control" id="InputEmail" ng-model="email" required>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Find Entry</button>
              </span>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>


<div id="login-overlay" class="modal-dialog" ng-show="loadUser.success == true">
  <div class="form-group alert alert-success" role="alert" ng-show="update.success == true">
    {{update.message}}
  </div>

  <div class="alert alert-danger" role="alert" ng-show="update.success == false">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{update.message}}
  </div>

  <form id="registerForm" ng-submit="updateInfo(loadUser.data)">
    <div class="modal-header">
      <p>
        <b>$25</b> per person for first event, <b>$15</b> for the second event, and <b>$10</b> for the third event.
        Registration and Payment are due <b style="color:red">October 8, 12am.</b> Drop/Refund deadline is <b style="color:red">October 15, 12am</b>.
      </p>
    </div>

    <div class="modal-body">
      <div class="form-group col-sm-6">
        <label for="InputName">First Name</label>
        <div class="input-group">
          <input type="text" name="firstName" class="form-control" id="InputFirstName" ng-model="loadUser.data.firstName" disabled>
          <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label for="InputName">Last Name</label>
        <div class="input-group">
          <input type="text" name="lastName" class="form-control" id="InputLastName" ng-model="loadUser.data.lastName" disabled>
          <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label for="InputEmail">Email</label>
        <div class="input-group">
          <input type="email" name="email" class="form-control" id="InputEmail" ng-model="loadUser.data.email" disabled>
          <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>

      <div class="form-group col-sm-6" >
        <label for="InputAge">Age</label>
        <div class="input-group">
          <input type="number" name="Age" class="form-control" id="InputAge" ng-model="loadUser.data.age" required>
          <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
        </div> 
      </div>

      <div class="form-group col-sm-12">
        <label for="InputPassword">Password</label>
        <div class="input-group">
          <input type="password" name="password" class="form-control" id="InputPassword" ng-model="loadUser.data.password" required>
          <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
      <div class="clearfix"></div><hr>

      <div class="form-group col-sm-6">
        <label for="InputSize">Size</label>
        <select name="size" class="form-control" ng-model="loadUser.data.size" id="InputSize">
          <option>Small</option>
          <option>Medium</option>
          <option>Large</option>
          <option>Extra Large</option>
        </select>
      </div>

      <div class="form-group col-sm-6">
        <label for="InputGender">Gender</label>
        <select name="gender" class="form-control" ng-model="loadUser.data.gender" id="InputGender">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>

      <div class="form-group col-sm-6">
        <label for="InputClub">Club</label>
        <div class="input-group">
          <input type="text" name="club" class="form-control" ng-model="loadUser.data.club" id="InputClub">
          <span class="input-group-addon"></span>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label for="InputClub">Phone</label>
        <div class="input-group">
          <input type="text" name="phone" class="form-control" ng-model="loadUser.data.phone" id="InputPhone" required>
          <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
      <div class="clearfix"></div><hr>

      <div class="form-group col-sm-12">
        <label>Entries</label>
        <div class="funkyradio">
          <div class="funkyradio-primary col-sm-4">
            <input type="checkbox" id="singleEntry" name="singleEntry" ng-model="loadUser.data.single.entry"/>
            <label for="singleEntry">Single</label>
          </div>
          <div class="funkyradio-primary col-sm-4">
            <input type="checkbox" id="doubleEntry" name="doubleEntry" ng-change="partnerName()" ng-model="loadUser.data.double.entry"/>
            <label for="doubleEntry">Double</label>
          </div>
          <div class="funkyradio-primary col-sm-4">
            <input type="checkbox" id="mixedEntry" name="mixedEntry" ng-change="partnerName()" ng-model="loadUser.data.mixed.entry"/>
            <label for="mixedEntry">Mixed</label>
          </div>
        </div>
      </div>
      <div class="clearfix"></div><hr>

      <!-- Single  -->
      <div ng-show="loadUser.data.single.entry">
        <div class="col-sm-12">
          <h4>Single Entry</h4>
        </div>
        <div class="form-group col-sm-12">
          <label for="InputLevel">Level</label>
          <select name="SingleLevel" class="form-control" id="InputLevel" ng-model="loadUser.data.single.level">
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
        </div>
        <div class="clearfix"></div><hr>
      </div>

      <!-- Double  -->
      <div ng-show="loadUser.data.double.entry">
        <div class="col-sm-12">
          <h4>Double Entry</h4>
        </div>
        <div class="form-group col-sm-2">
          <label for="InputLevel">Level</label>
          <select name="DoubleLevel" class="form-control" id="InputLevel" ng-model="loadUser.data.double.level">
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
        </div>

        <div class="form-group col-sm-5">
          <label for="InputName">Partner First Name</label>
          <div class="input-group">
            <input type="text" name="DoublePartnerFirst" class="form-control" ng-model="loadUser.data.double.firstName" id="InputDoublePartnerFirst" ng-required="loadUser.data.double.entry">
            <span class="input-group-addon"></span>
          </div>
        </div>

        <div class="form-group col-sm-5">
          <label for="InputName">Partner Last Name</label>
          <div class="input-group">
            <input type="text" name="DoublePartnerLast" class="form-control" ng-model="loadUser.data.double.lastName" id="InputDoublePartnerLast" ng-required="loadUser.data.double.entry">
            <span class="input-group-addon"></span>
          </div>
        </div>
        <div class="clearfix"></div><hr>
      </div>


      <!-- Mixed  -->
      <div ng-show="loadUser.data.mixed.entry">
        <div class="col-sm-12">
          <h4>Mixed Entry</h4>
        </div>
        <div class="form-group col-sm-2">
          <label for="InputLevel">Level</label>
          <select name="MixedLevel" class="form-control" id="InputLevel" ng-model="loadUser.data.mixed.level">
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
        </div>

        <div class="form-group col-sm-5">
          <label for="InputName">Partner First Name</label>
          <div class="input-group">
            <input type="text" name="MixedPartnerFirst" class="form-control" ng-model="loadUser.data.mixed.firstName" id="InputMixedPartnerFirst" ng-required="loadUser.data.mixed.entry">
            <span class="input-group-addon"></span>
          </div>
        </div>

        <div class="form-group col-sm-5">
          <label for="InputName">Partner Last Name</label>
          <div class="input-group">
            <input type="text" name="MixedPartnerLast" class="form-control" ng-model="loadUser.data.mixed.lastName" id="InputMixedPartnerLast" ng-required="loadUser.data.mixed.entry">
            <span class="input-group-addon"></span>
          </div>
        </div>
        <div class="clearfix"></div><hr>
      </div>



      <div class="form-group col-sm-12">
        <label>Created : </label>{{loadUser.data.created_at | date:'MM/dd/yyyy @ h:mma'}}
        <label class="col-md-offset-1">Last motified : </label> {{loadUser.data.motified_at | date:'MM/dd/yyyy @ h:mma'}} 
      </div>
      <div class="modal-footer" style="border-top:white;">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-secondary" ng-click="init()">Cancel</button>
      </div>
    </div>
  </form>
</div>
