<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
<div id="blue">
  <div class="container">
  <div class="row">
    <h3>2016 Fall UIUC Badminton Open.</h3>
  </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->

<!-- *****************************************************************************************************************
TITLE & CONTENT
***************************************************************************************************************** -->

<div class="container mt mb">
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 centered">
    <img src="/img/badminton_banner.jpg" alt="">
  </div>

  <div class="col-lg-5 col-lg-offset-1">
    <div class="spacing"></div>

    <h4>Format:</h4>
    <p>MS/MD/WS/WD/XD<br />
       ABCD drop flight<br />
       Rally Scoring<br />
       Each match will be best of 3</p>

    <h4>Capacity:</h4>
    <p>32 entries for MS/MD/XD<br />
       16 entries for WS/WD</p>

    <h4>Fees:</h4>
    <p>$30/$45/$55 for 1/2/3 events<br />
       We will be accepting PayPal and Chase Quickpay ONLY<br />
       You are not officially registered until you have payed<br />
       *If paying through PayPal, please select send to friends and family <br />
       Send all payments to illini.badminton@gmail.com<br />
       You may also send payments through this link: https://cash.me/$ibis</p>

    <h4>Prizes/Medals:</h4>
    <p>Will be awarded to winners and runner ups of each flight<br />
       FREE shirts will be provided for all participants</p>

    <h4>Deadlines:</h4>
    <p>Registration and payment deadline is <b>February 11 12am</b><br />
       Drop/Refund deadline is <b>February 18, 12am</b>. People that drop after this date will not be refunded.</p>

    <h4>BYOB: </h4>
    <p>Please bring your own birdies to the tournament. 2 birdies will be provided for every finals match.</p>

    <h4>Parking: </h4>
    <p>There is free parking next to and across the street from the ARC</p>

    <h4>Hotels: </h4>
    <p>Please book your hotel rooms ASAP!</p>

    <a class="btn btn-large btn-theme" href="#/register">Click here to Register</a>

  </div>

  <div class="col-lg-4 col-lg-offset-1">
    <div class="spacing"></div>
    <h4>Tournament Details</h4>
    <div class="hline"></div>
    <p><b>Date:</b>February 25, 2017 – February 26, 2017</p>

    <p><b>Schedule:</b><br/>
    <b>Saturday February 25</b><br/>
    9:00 AM - Warm up<br/>
    9:30 AM - Men's singles, Women's singles (up to semi finals)<br/>
    1:00 PM - Men's doubles, Women's doubles (up to semi finals)<br/>
    6:00 PM - Mixed doubles</p>

    <p><b>Sunday February 26</b><br/>
    9:00 AM - Warm up<br/>
    9:30 AM - Men's singles, Women's singles semis and finals<br/>
    12:30 AM - Men's doubles, Women's doubles semis and finals<br/>
    3:00 PM - Mixed doubles semis and finals</p>

    <p>There will be no designated lunch break, but please let us know when you are leaving to eat so we can call matches accordingly.</p>

    <p><b>Contacts:</b><br/>
    illini.badminton@gmail.com<br/>
    Austin Hua<br/>
    austinlhua@gmail.com<br/>
    630-696-7212</p>
  </div>

</div>
</div>

<!-- *****************************************************************************************************************
 OUR CLIENTS
 ***************************************************************************************************************** -->
<div id="cwrap">
 <div class="container">
 	<div class="row centered">
	 	<h3>OUR SPONSORS</h3>
	 	<!-- <div class="col-lg-3 col-md-3 col-sm-3">
	 		<img src="/img/sponsors/latea.png" class="img-responsive">
	 	</div>
	 	<div class="col-lg-3 col-md-3 col-sm-3">
	 		<img src="/img/sponsors/sakanaya.jpg" class="img-responsive">
	 	</div> -->
 	</div>
 </div>
</div>